 <!DOCTYPE html>
 <html>
 <head>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="post.css"> 
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
</head>

<body>

  <!-- renders header for blog section of website -->
  <div class="nav">
  	<%= render(:partial => 'header') %> 
  </div>

<div class="posts show">
  <h2>Show Posts</h2>

  <table summary="Posts detail view">
  <% @post.each do |post| %>
    <tr>
      <th>Title</th>
      <td><%= post.title %></td>
    </tr>
    <tr>
      <th>Text</th>
      <td><%= post.text %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= post.created_at %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= post.updated_at %></td>
    </tr>
    <td class="actions">
    <%= link_to("Show", {:action => 'show', :id => post.id}, :class => 'action show') %>
    <%= link_to("Edit", {:action => 'edit', :id => post.id}, :class => 'action edit') %>
    <%= link_to("Delete", {:action => 'delete', :id => post.id}, :class => 'action delete') %>
  </td>
    <% end %>
  </table>

</div>

	<!-- renders footer for blog section of website -->  
  	<%= render(:partial => 'footer') %>

  </body>
